@page "/"

<h3 class="text-center">Welcome to</h3>
<h1 class="text-center">Guess The Number</h1>
<p>Attempts: @numberOfAttempts</p>

@if (!gameOver)
{
    <label for="Input">Enter your guess.</label>
    <InputNumber @bind-Value="userGuess" id="Input" />
    <button type="submit" @onclick="HandleGuess">Submit Guess</button>
    <p>@feedbackMessage</p>
}
else
{
    <p>@feedbackMessage</p>
    <button type="reset" @onclick="HandleRestart">Restart Game</button>
}

@code {
    private int secretNumber;
    private int? userGuess;
    private int numberOfAttempts;
    private string feedbackMessage = string.Empty;
    private bool gameOver = false;
    private readonly Random random = new();

    protected override void OnInitialized()
    {
        secretNumber = random.Next(1, 51);
    }

    private void HandleGuess()
    {
        if (userGuess is null)
        {
            feedbackMessage = "Please enter a valid number.";
            return;
        }

        numberOfAttempts++;

        if (userGuess < secretNumber)
        {
            feedbackMessage = "Too low! Try again.";
        }
        else if (userGuess > secretNumber)
        {
            feedbackMessage = "Too high! Try again.";
        }
        else
        {
            feedbackMessage = $"Congratulations! You've guessed the number {secretNumber} in {numberOfAttempts} attempts.";
            gameOver = true;
        }
        userGuess = null;
    }

    private void HandleRestart()
    {
        secretNumber = random.Next(1, 51);
        userGuess = null;
        numberOfAttempts = 0;
        feedbackMessage = string.Empty;
        gameOver = false;
    }
}

